{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12">
        <div class="container rad bg-herbe-tropicale pin-glacial padding-30">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-block btn-pin-glacial text-uppercase blanc">Valider</button>
            {{ form_end(form) }}
            <div>
                <br>
                <a class="btn btn-block btn-pin-glacial text-uppercase blanc" href="{{ path('user_mon_compte_show') }}">
                    Retour à
                    <br class="visible-xs">
                    mon profil
                </a>
            </div>
        </div>
        <br>
    </div>
</div>

