{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success blanc">Valider</button>
{{ form_end(form) }}

<div>
    <a class="btn btn-herbe-tropicale blanc" href="{{ path('user_mon_compte_show') }}">Retour à mon profil</a>
</div>
