<div class="footer navbar-fixed-bottom">
    <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-lg-offset-4 col-lg-2 herbe-tropicale">
        <a href="{{ url('conditionsGeneralesUtlisation') }}">CGU</a>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2 herbe-tropicale">
        <a href="{{ url('mentionsLegales') }}">Mentions légales</a>
    </div>
</div>
