<footer class="bg-herbe-tropicale">
    <div class="pied-de-page text-center text-uppercase bg-herbe-tropicale">
        <a href="{{ url('conditionsGeneralesUtlisation') }}" class="gras blanc">cgu</a>
        <a href="{{ url('mentionsLegales') }}" class="gras blanc">mentions légales</a>
    </div>
</footer>

