
<section class="row text-center">

    <div class="col-xs-4 col-xs-offset-2">
        <a href="{{ url('conditionsGeneralesUtlisation') }}">CGU</a>
    </div>

    <div class="col-xs-4">
        <a href="{{ url('mentionsLegales') }}">Mentions légales</a>
    </div>

</section>
