
<section class="row text-center">

    <div class="col-xs-4 col-xs-offset-2">
        <a href="{{ url('mentions/conditionsGeneralesUtlisation.html.twig') }}">CGU</a>
    </div>

    <div class="col-xs-4">
        <a href="{{ url('mentions/mentionsLegales.html.twig') }}">Mentions légales</a>
    </div>

</section>
