<div class="pied-de-page text-center text-uppercase bg-blanc">
    <a href="{{ url('conditionsGeneralesUtlisation') }}" class="herbe-tropicale">cgu</a>
    <a href="{{ url('mentionsLegales') }}" class="herbe-tropicale">mentions légales</a>
</div><!-- <div class="pied-de-page text-center text-uppercase bg-blanc"> -->
