{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12" id="home-1">
        <h1 class="text-uppercase blanc">
            bienvenue sur le site de l'association nos amis les oiseaux
        </h1>
        <p class="blanc">
            Comme de nombreux passionés, participez à notre programme national de recherche grâce à notre outil collaboratif d'observation des oiseaux
        </p>
    </div>
    <div class="col-xs-12 visible-xs visible-sm text-center">
        <a href="#">
            <img src="{{ asset('imgs/bouton-xs-1.png') }}">
        </a>
    </div>
    <div class="col-xs-12 visible-xs visible-sm text-center">
        <a href="#">
            <img src="{{ asset('imgs/bouton-xs-2.png') }}">
        </a>
    </div>
{% endblock %}


