# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: nao
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: smtp.mailtrap.io
    mailer_user: a49b3d3eb1b625
    mailer_password: 1f0383154a0fd5
    mailer_security: tls
    mailer_port: 2525
    mailer_auth_mode: cram-md5
    mailer_name: Nos Amis les Oiseaux
    secret: ThisTokenIsNotSoSecretChangeIt
    recaptcha_key: 6LdOQiIUAAAAAOtP34Z-Od0A3r4FXMqj_TpoqqWZ
    image_directory: img_upload

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
