<div class="col-xs-12 text-center text-uppercase pin-glacial">
    <h2>créer un utilisateur</h2>
</div>
<div class="col-xs-12">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-pin-glacial blanc" id="valider-creation-utilisateur">Valider</button>
    {{ form_end(form) }}
    <br>
</div>
