{% extends "::base.html.twig" %}

{% block body %}
    <div class="row" id="div-dashboard">
        <div>
            {# #} render(controller('FOSUserBundle:Profile:show')) }}
        </div>
    </div>
{% endblock %}

