{% extends "::base.html.twig" %}

{% block body %}

    <div>
        <div>
            {{ render(controller('FOSUserBundle:Profile:show')) }}
        </div>
        <div>

            {{ render(controller('UserBundle:Default:listeDesUtilisateurs')) }}

        </div>
        <div>

        </div>
    </div>
{% endblock %}