{{ form_start(form, {'attr': {'class': 'form-horizontal', 'action': path('admin_utilisateurs_find') }}) }}
<div class="input-group pin-glacial">
    {{ form_errors(form.recherche) }}
    {{ form_widget(form.recherche) }}
    <div class="input-group-addon">
        <a href="#" id="relais-form-recherche" title="Rechercher">
            <i class="fa fa-search pin-glacial" aria-hidden="true"></i>
        </a>
    </div>
</div>
<button type="submit" class="hidden" id="valider-form-recherche"></button>
{{ form_end(form) }}