{{ form_start(form, {'attr': {'class': 'form-horizontal', 'action': path('admin_utilisateurs_find') }}) }}
{{ form_errors(form.recherche) }}
{{ form_widget(form.recherche, {'attr': {'class': 'pin-glacial'}}) }}
<button type="submit" class="hidden" id="valider-form-recherche"></button>
{{ form_end(form) }}