{{ form_start(form2, {'attr': {'class': 'form-horizontal', 'action': path('admin_utilisateurs_find_role') }}) }}
{{ form_errors(form2.roles) }}
{{ form_widget(form2.roles, {'attr': {'class': 'pin-glacial'}}) }}
<button type="submit" class="hidden" id="valider-form-roles"></button>
{{ form_end(form2) }}