{{ form_start(form, {'attr': {'class': 'form-horizontal', 'action': path('admin_utilisateurs_find_role') }}) }}
{{ form_errors(form.roles) }}
{{ form_widget(form.roles, {'attr': {'class': 'pin-glacial'}}) }}
<button type="submit" class="hidden" id="valider-form-roles"></button>
{{ form_end(form) }}