{{ form_start(form, {'attr': {'class': 'form-inline', 'action': path('admin_utilisateurs_find_role') }}) }}

    {{ form_widget(form.roles) }}

    <button type="submit" class="btn btn-herbe-tropicale blanc"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

{{ form_end(form) }}