@charset "utf-8";
/**
 * web/css/nao.css
 * Created by firekey on 21/05/2017.
 */


/* ========================= POLICE PERSONNALISEE ========================= */

@font-face {
    font-family: 'Biko';
    src: url('../fonts/Biko.eot');
    src: url('../fonts/Biko.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Biko.woff2') format('woff2'),
    url('../fonts/Biko.woff') format('woff'),
    url('../fonts/Biko.ttf') format('truetype'),
    url('../fonts/Biko.svg#Biko') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ========================= BALISES ========================= */

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    font-family: Biko, sans-serif;
    padding-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}


/* ========================= CLASSES ========================= */

.container-fluid {
    padding: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pied-de-page {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* arrière-plans nao */
.bg-blanc {
    background-color: rgba(255, 255, 255, 1) !important;
}

.bg-pin-glacial {
    background-color: rgba(25, 107, 105, 1) !important;
}

.bg-herbe-tropicale {
    background-color: rgba(40, 204, 158, 1) !important;
}

.bg-aloe-vera {
    background-color: rgba(203, 247, 211, 1) !important;
}

/* couleurs nao */
.blanc {
    color: rgba(255, 255, 255, 1) !important;
}

.pin-glacial {
    color: rgba(25, 107, 105, 1) !important;
}

.herbe-tropicale {
    color: rgba(40, 204, 158, 1) !important;
}

.aloe-vera {
    color: rgba(203, 247, 211, 1) !important;
}

/* police */
.gras {
    font-weight: bold !important;
}

.italique {
    font-style: italic !important;
}

/* boutons */
.btn {
    border-radius: 30px !important;
    color: transparent;
}

.btn-pin-glacial,
.btn-pin-glacial:hover,
.btn-pin-glacial:focus {
    background-color: rgba(25, 107, 105, 1) !important;
    border-color: rgba(25, 107, 105, 1) !important;
}

.btn-herbe-tropicale,
.btn-herbe-tropicale:hover,
.btn-herbe-tropicale:focus {
    background-color: rgba(40, 204, 158, 1) !important;
    border-color: rgba(40, 204, 158, 1) !important;
}

.btn-aloe-vera,
.btn-aloe-vera:hover,
.btn-aloe-vera:focus {
    background-color: rgba(203, 247, 211, 1) !important;
    border-color: rgba(203, 247, 211, 1) !important;
}

/* navigation */
.navbar {
    padding-right: 15px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.icon-bar {
    background-color: rgba(25, 107, 105, 1) !important;
}

.navbar-toggle {
    border-color: rgba(203, 247, 211, 1) !important;
}

.navbar-toggle:hover {
    background-color: rgba(203, 247, 211, 1) !important;
}

.navbar-toggle:active,
.navbar-toggle:focus {
    background-color: rgba(40, 204, 158, 1) !important;
}


/* datepicker jquery-ui (intégration charte graphique NAO) */
.ui-datepicker {
    display: none;
    width: 245px;
    margin-top: 5px;
    padding: 12px;
    border: 1px solid rgba(40, 204, 158, 1);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(203, 247, 211, .5);
}

.ui-datepicker a, .ui-datepicker a:hover {
    text-decoration: none;
}

.ui-datepicker a:hover, .ui-datepicker td:hover a {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    color: rgba(40, 204, 158, 1);
}

.ui-datepicker .ui-datepicker-header {
    margin-bottom: 5px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 30px;
    height: 20px;
    margin-top: 2px;
    cursor: default;
    font-family: Biko, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: "\e079";
}

.ui-datepicker .ui-datepicker-next:before {
    content: "\e080";
}

.ui-datepicker .ui-icon {
    display: none;
}

.ui-datepicker .ui-datepicker-calendar {
    width: 100%;
    table-layout: fixed;
}

.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
    padding: 5px 0;
    text-align: center;
}

.ui-datepicker .ui-datepicker-calendar td {
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    border-radius: 5px;
}

.ui-datepicker .ui-datepicker-calendar td:hover {
    cursor: pointer;
    background-color: rgba(203, 247, 211, .5);
}

.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-current-day {
    background-color: rgba(255, 255, 255, 1);
}

.ui-datepicker .ui-datepicker-current-day a {
    color: rgba(25, 107, 105, 1)
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    cursor: default;
    background-color: rgba(255, 255, 255, 1);
}


/* ========================= IDENTIFIANTS ========================= */

#bouton-nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-1 {
    background: url("../imgs/Three-Swans.jpg") no-repeat center ;
    -webkit-background-size: cover;
    background-size: cover;
}

/* ========================= MEDIA QUERIES ========================= */

@media all and (max-width: 750px) {
    body {
        padding-top: 50px;
    }

    .nav > li > a {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand,
    #bouton-nav > ul {
        height: 50px;
    }

    .navbar-brand > img {
        height: 50px;
        width: auto;
    }

    .espace-nav {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media all and (min-width: 750px) {
    body {
        padding-top: 80px;
    }

    .nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-brand {
        padding: 15px;
    }

    .navbar-brand,
    #bouton-nav > ul {
        height: 80px;
    }

    .navbar-brand > img {
        height: 50px;
        width: auto;
    }

    .espace-nav {
        margin-left: 10px;
        margin-right: 10px;
    }


}

@media all and (min-width: 970px) {
    body {
        padding-top: 105px;
    }

    .nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand,
    #bouton-nav > ul {
        height: 105px;
    }

    .navbar-brand > img {
        height: 75px;
        width: auto;
    }

    .espace-nav {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media all and (min-width: 1040px) {
    body {
        padding-top: 130px;
    }

    .nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-brand,
    #bouton-nav > ul {
        height: 130px;
    }

    .navbar-brand > img {
        height: 100px;
        width: auto;
    }
}

@media all and (min-width: 1170px) {
    
}