@charset "utf-8";
/**
 * web/css/swans.css
 * Créé par firekey le 19/06/2017.
 */

/* ========================= BALISES ========================= */

body {
    background: url("../imgs/swans.jpg") no-repeat center ;
    -webkit-background-size: cover;
    background-size: cover;
}