{% extends "::base.html.twig" %}
{% block body%}
    <div class="container">
        <div class="row pin-glacial jumbotron">
            <div class="col-xs-12 text-center text-uppercase">
                <h1>conditions générales d'utilisation</h1>
                <h2>conditions d'utilisation</h2>
            </div>
            <div class="col-xs-12">
                <h3>1. Présentation du site.</h3>
                <h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>
                <h3>3. Description des services fournis.</h3>
                <h3>4. Limitations contractuelles sur les données techniques.</h3>
                <h3>5. Propriété intellectuelle et contrefaçons.</h3>
                <h3>6. Limitations de responsabilité.</h3>
                <h3>7. Gestion des données personnelles.</h3>
                <h3>8. Liens hypertextes et cookies.</h3>
                <h3>9. Droit applicable et attribution de juridiction.</h3>
                <h3>10. Les principales lois concernées.</h3>
                <h3>11. Lexique.</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/documentSize.js') }}"></script>
{% endblock %}
